* 
  margin 0
  padding 0
 	box-sizing border-box

.home 
  background url('../images/testhome.svg')
  background-repeat no-repeat
  background-position center center
  background-size cover
  height 100vh
  
  img
    height 10%
    
 .menu div
 	background white
 	height 40px
 	width 40px
 	margin 10px
 	border-radius 50%
