@import 'variables'

* 
  margin 0
  padding 0
 	box-sizing border-box
 	list-style none
 	text-decoration none
 	// margin 0 100px

// Landing Page

.home 
  background url('../images/testhome.svg')
  background-repeat no-repeat
  background-position center center
  background-size cover
  height 120vh
  display flex
  justify-content center
  align-items center
  
 	.vertical 
  	margin-right 25px 

 		h1
	  	color white
	  	text-align center
	  	font-family font
	  	font-weight 400
	  	font-size 36px

	.home-img img	
		display flex
		height 120px
		padding 10px
		
	p
		color white
		margin-left 25px
		font-family font
		font-weight 300
		font-size 20px
		
// Nav Menu

.menu
	position absolute
	right 40px
	top 20px
	
	div
		height 10px
		width 10px
		margin 5px
		border-radius 50%
		background white
		
.nav-menu
	background white
	height 300px
	width 200px
	position absolute
	top 80px
	right 40px
	display flex
	justify-content center
	opacity 0	
	transition all 700ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
	
	ul li
		height 75px
		display flex
		justify-content center
		align-items center			
			
		a
			font-family font
			font-weight 300
			color black

// Menu Toggle
			
.fade
	opacity 1

// Why Us Section

.why-us
	height 100vh

	.experience, .results
		display flex
		height 50vh

		.right
			display flex
			justify-content center
			align-items center
			width 30vw
			background red
			
		.left
			background yellow
			width 70vw
			display flex
			justify-content center
			align-items center
			flex-direction column
			text-align center
			padding 0 200px
			
		img
			height 300px
			
	.service
		display flex
		height 50vh
		
		.right
			background yellow
			width 70vw
			display flex
			justify-content center
			align-items center
			flex-direction column
			text-align center
			padding 0 200px
			
		.left
			display flex
			justify-content center
			align-items center
			width 30vw
			background red
	
		img
			height 300px