<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Dixie Dentistry
	link(rel="stylesheet", href="./css/style.css")
body
	
	.home
		h1 Dentistry on Dixie
		img(src="./images/toothbrush.svg", alt="")
		img(src="./images/tool.svg", alt="")
		img(src="./images/tooth.svg", alt="")
		p Learn More

		.menu
			div(id='first')
			div(id='second')
			div(id='third')
