<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Dixie Dentistry
	link(rel="stylesheet", href="./css/style.css")
body
	
	.home
		.vertical
			h1 D
			h1 e
			h1 n
			h1 t
			h1 i
			h1 s
			h1 t
			h1 r
			h1 y
			br
			h1 o
			h1 n
			br
			h1 D
			h1 i
			h1 x
			h1 i
			h1 e
		.home-img
			img(src="./images/toothbrush.svg", alt="")
			img(src="./images/tool.svg", alt="")
			img(src="./images/tooth.svg", alt="")
		p Learn More

		.menu
			div
			div
			div

		.nav-menu
			ul
				li 
					a(href="#") Why Us
				li 
					a(href="#") Our Staff
				li 
					a(href="#") Contact
				li 
					a(href="#") Info


	.why-us
		h1.title Why Us?
			.border-title

		.experience
			.line
			
			.right
				img(src="./images/experience.svg", alt="")
			
			.left
				h1 Experience
					.border

				h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptate recusandae praesentium, numquam debitis iusto voluptas officiis atque est deleniti eos voluptatum vitae suscipit. Distinctio, autem inventore. Vero, eligendi, consequatur?
		
		.service
			.line
			
			.right
				h1 Customer Service
					.border
				
				h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit aperiam iure tenetur, impedit adipisci temporibus molestias. Illo totam debitis qui, officiis distinctio itaque, sit nihil labore dolores ex, asperiores.
			
			.left
				img(src="./images/service.svg", alt="")
		
		.results
			.right
				img(src="./images/results.svg", alt="")

			.left
				h1 Results
					.border

				h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tenetur nulla, facere molestiae! Nisi beatae tenetur ipsa porro adipisci praesentium, rerum soluta error eos ab repellendus quisquam aut omnis quos.
				
	.staff
		//- img(src="./images/staffbg2.svg", alt="")
		.staff-info
			h1 Our Staff
			.staff-line

			.picture
				.picture-info
					img(src="./images/staff-arrow.svg", alt="")

			.staff-title
				h2.title Gabriel Pozo
				h5 Head Dentist
					.line

			//- Second Staff Section

			.staff-line-2

			.picture
				.picture-info
					img(src="./images/staff-arrow.svg", alt="")

			.staff-title-2
				h2.title Katrina Misik
				h5 Head Hygenist
					.line

	.contact
		h1 Contact
			.line

		.form-bg
			form(action="POST")
				input(type="text" placeholder="Name")
				input(type="text" placeholder="Email")
				input(type="text" placeholder="Question")
				button
					img(src="./images/check.svg", alt="")

	.info
		h1 Hours / Location

		.hours
			.time
				h3 Monday - Friday
				h5 
					| 9am
					span to
					| 5pm
				.line

			.time
				h3 Saturday - Sunday
				h5 
					| 10am
					span to
					| 3pm
				.line

			.time
				h3 400 Spadina Avenue




	script(src="./js/main.js")